body {
    background-image: url('../src/assets/logo.png');
}

footer {
    background-color: #FFD7D7;
    padding-top: 3em;
    margin-top: 5em;
}

#info-footer {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

#info-footer li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 5em;
    padding-bottom: 0.5em;
}

p, span, div {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    text-align: center;
    margin-top: 60px;
    font-size: 1.1em;
}

h2, h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a, i {
    color: #FD2D01;
    text-decoration: none;
    font-size: 1.1em;
}

a {
    padding-right: 2em;
}

footer a {
    font-size: 0.8em;
}

@media all and (min-width: 992px)
{
    #info-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #info-footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0em;
        padding-bottom: 0.5em;
    }

}