body {
    background-image: url('../src/assets/logo.png');
}

footer {
    background-color: #FFD7D7;
    padding: 0.5em;
    margin-top: 2em;
}

#info-footer {
    display: flex;
    justify-content: space-around;
}

p, span, div {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    text-align: center;
    margin-top: 60px;
    font-size: 1.1em;
}

h2, h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a, i {
    color: #FD2D01;
    padding-right: 2em;
}