main {
    background-image: url('../src/assets/logo.png');
    padding-top: 2em;
    padding-bottom: 5em;
}

header {
    background-color: #FFD7D7;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 0.5em;
    margin-top: -3em;
}

nav .container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

nav {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

nav a {
    font-size: 0.9em;
    padding-right: 2em;
    cursor: pointer;
}

#masque_nav {
    margin-left: -2em;
}

#nav_hidden {
    display: none;
}

#nav_user {
    background-color: #FFD7D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

#nav_user li {
    padding-bottom: 1em;
}

#user_name {
    padding-left: 0.5em;
}

footer {
    background-color: #FFD7D7;
    padding-top: 3em;
}

#info-footer {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

#info-footer li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 5em;
    padding-bottom: 0.5em;
}

p, span, div {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    text-align: center;
    margin-top: 60px;
    font-size: 1.1em;
}

h2, h3 {
    margin: 40px 0 0;
}

h2 {
    padding-bottom: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

button {
    width: 50%;
    background-color: #FD2D01;
    margin-top: 3em;
    padding: 0.8em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 2em;
    box-shadow: 0.2em 0.2em 0.5em grey;
}

button:hover {
    opacity: 70%;
	transition: .3s ease-in-out;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    align-self: center;
    width: 80%;
    text-align: center;
    padding: 0.5em;
    font-size: 0.7em;
    margin-top: 0.8em;
    border-color: #FD2D01;
    outline: none;
}

textarea {
    display: flex;
    align-self: center;
    width: 90%;
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 0.8em;
    margin-bottom: 2em;
    border-color: #FD2D01;
    outline: none;
}

.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a, i {
    color: #FD2D01;
    text-decoration: none;
    font-size: 1.1em;
}

.posts {
    width: 95%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 6px 8px 8px rgba(0,0,0,0.4);
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}

.allposts {
    display: flex;
    justify-content: center;
}

.post-body img {
    width: 90%;
    object-fit: cover;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-cards {
    box-shadow: 4px 6px 8px 8px rgba(0,0,0,0.4);
    width: 95%;
    padding: 1em;
    margin: 0.5em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}

.cards-title {
    margin-top: 0;
    width: 100%;
	height: 60%;
    font-weight: bold;
}

.cards-title img {
	width: 90%;
	height: 80%;
	object-fit: cover;
    border-radius: 1.5em 1.5em 0 0;
}

.cards-body {
    font-size: 1em;
}

.one-card {
    padding-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1em;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    box-shadow: 4px 6px 8px 8px rgba(0,0,0,0.4);
}

.one-title {
    width: 95%;
}

.card-info {
    font-size: 1.2em;
    font-weight: bold;
}

#lien-formulaire-avatar, #lien-formulaire-bio, #lien-delete-account, #lien-formulaire-post, #lien-edit-post, #lien-delete-post {
    width: 95%;
    background-color: #FFD7D7;
    margin-top: 1em;
    padding: 0.8em;
    font-weight: normal;
    border-radius: 2em;
    box-shadow: 0.2em 0.2em 0.5em grey;  
}

#lien-formulaire-avatar {
    font-size: 0.8em;
}

#lien-formulaire-bio, #lien-delete-account {
    font-size: 0.9em;
}

#lien-formulaire-post {
    font-size: 1.2em;
}

#lien-formulaire-avatar:hover, #lien-formulaire-bio:hover, #lien-delete-account:hover, #lien-formulaire-post:hover, #lien-edit-post:hover, #lien-delete-post:hover {
    opacity: 70%;
	transition: .3s ease-in-out;
    cursor: pointer;
}

#formulaire-avatar, #formulaire-bio {
    display: none;
    font-size: 0.9em;
}

#delete-account, #formulaire-post, #edit-post, #delete-post {
    display: none;
}

footer a {
    font-size: 0.8em;
    padding-right: 2em;
}

@media all and (min-width: 992px)
{
    #info-footer, #info-footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #info-footer ul {
        padding-left: 0em;
        padding-bottom: 0.5em;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #masque_nav {
        margin-left: 1em;
        margin-top: 0.5em;
    }

    nav .container {
        flex-direction: row;
    }

    #nav_user {
        display: flex;
        flex-direction: row;
    }

    .logo_nav {
        padding-top: 0.8em;
        padding-left: 1em;
    }

    button {
        width: 15%;
    }

    input {
        width: 20%;
    }

    textarea, #lien-formulaire-avatar {
        width: 50%;
    }

    #bio {
        width: 100%;
    }

    .posts {
        width: 65%;
    }

    .post-body img {
        width: 70%;
    }
    .one-card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .one-title {
        width: 40%;
    }

    .all-cards {
        width: 25%;
    }

}